/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

// Class to be used in the main container of the application
.button-container {
    display: flex;
    justify-content: flex-end;
    /* Alinha os botões à direita */
    gap: 10px;
    /* Distância entre os botões */
  }


// Class to be used in the main container of the application
.button-container-center {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.fixed-bar-my-custom {
  position: sticky;
  position: -webkit-sticky; /* for Safari */
  top: 6em;
  z-index: 2;
}
